.menubusqueda {
    background-color: black;
    color: rgb(60, 255, 0);
    margin-right: 10000000000px;
    position: absolute;
}
#cerrarmenu{color: brown;margin-right: 1000000px;position: absolute;}

