h1,
h2,
h3,
p,
a,
ul,
li,
div {
    font-family: 'Oswald', sans-serif;
}

.top{background-color: rgba(100, 148, 237, 0.527);}

.izquierda1>img {
    margin-left: 9%;
    margin-top: 0.5%;
    height: 80px;
    width: 200px;
    margin-top: 2.5rem;

}

.navegacion1 {
    float: right;
    margin-top: 3rem;
    margin-right: 11rem;
}

.nav-item>a {
    color: black;
    font-size: 23px;
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
}

#abrirbusqueda {margin-top: 0.4rem;
    margin-left: 25rem;
}

#abrircesta {margin-top: 0.4rem;
    margin-left: 2rem;
}

#abrirusuario {margin-top: 0.4rem;
    margin-left: 2rem;
}